@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: orange;
}

ul {
    text-align: center;
}

.tete {
    display: inline-block;
    padding: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.corps {
    position: absolute;
    text-align: left;
    display: none;
    list-style-type: none;
    background-color: green;
}

.tete:hover .corps {
    display: block;
}

@media screen and (max-width: 600px) {

    .tete:hover .corps {
        display: none;
    }
    
}
